@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background-image: linear-gradient(
    to bottom,
    #000000,
    rgba(32, 13, 66, 0.34) 34%,
    rgba(79, 33, 241, 0.65) 65%,
    rgba(164, 110, 219, 0.82) 82%
  );
}

.radial-gradient-bg {
  background: radial-gradient(closest-side, #000 82%, #9560EB);
}



@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 5px #9560eb56) drop-shadow(0 0 10px #9560eb36) drop-shadow(0 0 15px #9560EB) drop-shadow(0 0 20px #9560eb6e) drop-shadow(0 0 25px #9560eb61);
  }
  50% {
    filter: drop-shadow(0 0 10px #9560eb5b) drop-shadow(0 0 20px #9560eb5b) drop-shadow(0 0 30px #9560eb6a) drop-shadow(0 0 40px #9560EB) drop-shadow(0 0 50px #9560eb52);
  }
}

.upanddown {
  animation: float 3s ease-in-out infinite;
}